<?xml version="1.0" encoding="UTF-8"?>
<winners date="{$date}">
{foreach from=winners item=winner}
    <winner inn="{$winner.inn}">
{foreach from=winner.purchaseNumber item=purchaseNumber}
        <purchaseNumber>{$purchaseNumber}</purchaseNumber>
{/foreach}
{/foreach}
    </winner>
</winners>